:root {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.title {
    width: 80%;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: cornsilk;
}

.instruction-text-box {
    width: 80%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: cornsilk;
}

#enter-team-name {
    margin-top: 5%;
    font-size: medium;
    
}

#start-game {
    margin-top: 5%;
}

/*Button on the homepage*/
.button {
    text-decoration: none;
    width: 20rem;
    padding: 2rem;
    text-align: center;
    color: black;
    margin: 2rem;
    border: 0.2rem solid;
    background-color:cornsilk;
    

}

/* This is the quiz/game page*/

#question {
    width: 80%;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 10%;
    border: solid;
    background-color: cornsilk;
}


.game-area {
    display: flex;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

#answer-buttons {
    display: flex;
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#questions-area {
    padding: 10;
    margin: 10;
}

/*#timer {
    display: flex;
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#qualifying {
    display: flex;
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%;
    padding: 2rem;
    margin: 2rem;
    border: 0.2rem solid;
    background-color:cornsilk;
    font-size: 2rem;
}

/*Buttons*/

.answer-button {
    padding: 5rem;
    margin: 1rem;
    border: 0.2rem solid;
    background-color:cornsilk;
    margin-top: 15rem;
    
}

.answer-button:hover {
    cursor: pointer;
    color:dodgerblue;
    transition: transform 150ms;
}



/*.scores-area {
    padding: 3rem;
    margin: 0rem;
    border: 0.2rem solid;
    background-color:cornsilk;
    width: 30vw;
    height: 5vh;
    text-align: inherit;
    justify-content: center;
    align-items: center;
}
*/

.scores-container {
    width: 80%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: cornsilk;
}

.correct-answer {
    background-color: chartreuse;
}


.incorrect-answer {
    background-color: crimson;
}