:root {
    font-size: 62.5%;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(../images/pexels-pixabay-274506.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260%
    
}

.title {
    width: 80%;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: rgba(252, 249, 185, .5);
}

.instruction-text-box {
    width: 80%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: rgba(252, 249, 185, .5);
}

#start-game {
    margin-top: 5%;
    
}
.button:hover {
    cursor: pointer;
    color:rgb(212, 18, 132);
    transition: transform 150ms;
}
/*Button on the homepage*/
.button {
    text-decoration: none;
    width: 20rem;
    padding: 2rem;
    text-align: center;
    color: black;
    margin: 2rem;
    border: 0.2rem solid;
    background-color: rgba(252, 249, 185, .5);
    

}

/* This is the quiz/game page*/

#question {
    width: 80%;
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 5%;
    border: solid;
    background-color: rgba(252, 249, 185, .5);
    
}


.game-area {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    
}

#answer-buttons {
    display: flex;
    width: 10vw;
    height: 2vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
}


/*#timer {
    display: flex;
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#qualifying {
    display: flex;
    width: 10vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20%;
    padding: 2rem;
    margin: 2rem;
    border: 0.2rem solid;
    background-color: rgba(252, 249, 185, .5);
    font-size: 2rem;
}

/*Buttons*/

.answer-button {
    padding: 5rem;
    margin: 1rem;
    border: 0.2rem solid;
    background-color: rgba(252, 249, 185, .5);
    margin-top: 15rem;
    
}

.answer-button:hover {
    cursor: pointer;
    color:rgb(230, 73, 164);
    transition: transform 150ms;
}



/*.scores-area {
    padding: 3rem;
    margin: 0rem;
    border: 0.2rem solid;
    background-color:cornsilk;
    width: 30vw;
    height: 5vh;
    text-align: inherit;
    justify-content: center;
    align-items: center;
}
*/

.scores-container {
    width: 80%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 10%;
    border: solid;
    background-color: rgba(252, 249, 185, .5);
}

.correct-answer {
    background-color: chartreuse;
}


.incorrect-answer {
    background-color: crimson;
    
}
/* for screens 700px wide and down - tablets and phones */
@media (max-width: 700px) {
    .game-area{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr;
        grid-gap: .5%;
        padding: 0rem;
        margin: 0rem;

    }

    .answer-button {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr;
        padding: 1rem;
        margin: 1rem;
        border: 0.2rem solid;
        background-color:cornsilk;
        margin-top: 1rem;
    }

    #question {
        width: 80%;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        margin-top: 10%;
        border: solid;
        background-color: cornsilk;
    }

    .scores-container {
        width: 80%;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        margin-top: 30%;
        border: solid;
        background-color: cornsilk;
    }
    .correct-answer {
        background-color: chartreuse;
    }
    
    
    .incorrect-answer {
        background-color: crimson;
    }

    .answer-button:hover {
        cursor: pointer;
        color:rgb(22, 3, 14);
        transition: transform 150ms;
        
    }

    body {
        font-family: Roboto, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url(../images/timothy-tan-PAe2UhGo-S4-unsplash.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300%
        
    }

    .instruction-text-box {
        width: 80%;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        margin-top: 5%;
        border: solid;
        background-color: rgba(252, 249, 185, .5);
    }
    
}